<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="ufo-blog.css">
</head>
<body>

<th:block th:fragment="ufo-navbar">
    <ul class="ufo-navbar">
        <li>

        </li>
    </ul>
</th:block>

<th:block th:fragment="casino-navbar">
    <ul>
        <li>Casino Royale</li>
    </ul>
</th:block>

<th:block th:fragment="casino-header">
    <h5>Pick a number:</h5>
</th:block>

<th:block th:fragment="casino-footer">
    <footer>
        <h6>Gambling is bad.  You probably shouldn't do it.  You must be 21+ to gamble. Please gamble responsibly.</h6>
    </footer>
</th:block>

</body>
</html>