<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Roll Dice</title>
</head>
<nav>
    <th:block th:replace="fragments/partials :: navbar"> </th:block>
</nav>
<body>
    <div th:if="${guess}">
        Your guess was: <span th:text="${guess}"></span><br />
        The roll was: <span th:text="${roll}"></span><br /><br />
        <span th:text="${message}"></span>
    </div>
    <th:block th:replace="fragments/partials :: header"> </th:block>
    <div>
        <a href="/roll-dice/1">1</a><br />
        <a href="/roll-dice/2">2</a><br />
        <a href="/roll-dice/3">3</a><br />
        <a href="/roll-dice/4">4</a><br />
        <a href="/roll-dice/5">5</a><br />
        <a href="/roll-dice/6">6</a><br />
    </div>
    <th:block th:replace="fragments/partials :: footer"> </th:block>
</body>
</html>